<div class="jumbotron">
<h1 class="text-center"> Add Restaurant form</h1>
</div>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your Data added Successfully!.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span area-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addRestaurant" (ngSubmit)="createResto()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
      
      <label>Address</label>
      <input type="text" class="form-control" placeholder="Enter Address" formControlName="address">

      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
     
      
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>