
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  
    <a class="navbar-brand" href="#">Restaurant Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        
        <li class="nav-item active">
          <a class="nav-link" routerLink="add">Add Resto</a>
          
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="update">Update Resto</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="list">List Resto</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="register">Register</a>
        </li>
        </ul>
     </div>

</nav>

<router-outlet></router-outlet>
<div class="footer">
  <p>Copyright by &copy; shaktima9</p>
</div>

